/* ==========================================================================
   ##Shadow Levels
   ======================================================================= */
@mixin shadow-depth ($level) {
  
  @if $level == 0 {
    box-shadow: 0 0 0 rgba(0,0,0,0);
  } @else if $level == 1 {
    box-shadow: 0 2px 4px rgba(50,50,93,.1);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.15);
  } @else if $level == 3 {
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.1);
  } @else if $level == 4 {
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.24), 0 15px 12px rgba(0,0,0,0.20);
  }
  
}
