/* ==========================================================================
   ##MIXINS
   ======================================================================= */
// = Placeholder
// -----------------------------
@mixin placeholder($color : $clr-mixin-placeholder) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}





/* ==========================================================================
   ##Buttons
   ======================================================================= */
@mixin button-override{
  outline: 0;
  background-color: transparent;
  border: none;
}






/* ==========================================================================
   ##Images
   ======================================================================= */
@mixin img-responsive{
  max-width: 100%;
  height: auto;
}





/* ==========================================================================
   ##Scrolling
   ======================================================================= */
@mixin scrolling{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
