<h1>admin Rents</h1>

<div class="main-menu">
    <div><a href="{{ path('list_movie_admin') }}">admin.movie.list</a></div>
    <div><a href="{{ path('admin_rents_lists') }}">admin.rents.list</a></div>
</div>